.element-background {
  min-height: 100%;
  background: linear-gradient(45deg, rgba(255, 0, 150, 0.3), rgba(130, 0, 53, 0.5)), url(https://images.dailyhive.com/20180409141720/Screen-Shot-2018-04-09-at-2.15.21-PM.png);
  background-size: cover;
}

/* White background to cover the image in the background where the meetings will be listed */
.schedule-list-block {
  background-color: rgba(255, 255, 255, 1.0) !important;
}