/* https://reportex-development.github.io/Boardroom-sign/styles/scheduler.css  */
/*************** Screensaver section ****************/
/* Room name */
.screensaver__container__room-details__name {
  font-family: Calibri;
  font-style: normal;
  line-height: .75em;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*overflow: hidden;*/
  width: 133.333333333vh;
  color: #ffffff;
  font-size: 12vh;
  font-weight: 700;
  font-variant: small-caps;
  background-color: red;
  display: none;
}

/* Color for available label */
.color__main-color-3 {
  color: #3cf799;
  display: none;
}

/* Color for reserved label */
.color__main-color-2 {
  color: #ff2c55;
  display: none;
}

/* Reserved details section */
.screensaver__container__reserved__content {
  font-family: Calibri;
  font-style: normal;
  line-height: .75em;
  font-size: 12vh;
  font-weight: 700;
  font-variant: small-caps;
  width: 133.333333333vh;
  text-overflow: clip;
  word-wrap: break-word !important;
  white-space: pre-line !important;
  display: block;
  color: #ffffff;
  background-color: yellow;
}

/* Available details section */
.screensaver__container__available__content {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-size: 12vh;
  font-weight: 500;
  line-height: 1.2;
  display: none;
}

/* Date screensaver */
.screensaver__container__current-time__date {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  line-height: .75em;
  font-size: 12vh;
  font-weight: 400;
  display: none;
}

/* Time screensaver */
.screensaver__container__current-time__time {
  margin-top: 3.6666666667vh;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  line-height: .75em;
  font-size: 12vh;
  font-weight: 400;
  display: none;
}

/* Logo screensaver */
.screensaver__container__logo__img {
  height: 9vh;
  display: none;
}

/* Border color screensaver layout when reserved */
.screensaver__container--reserved {
  border-color: rgba(0, 0, 0, 0.0);
}

/* Border color screensaver layout when available */
.screensaver__container {
  border-color: #3cf799;
  display: none;
}

.screensaver__container--reserved {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)),
    /* your image */
    url("../images/reportex-background.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 12vh;
}

/* Background Image added to everywhere*/
.screensaver--available {
  /*background-image: url("../images/reportex-background.png") !important;
	background-position: center;
	background-size: cover; */
  background-color: #000000;
}

/****************** Horizontal Room section *********************/
/* Room name */
.room__container__room-details__name {
  font-family: Crestron, sans-serif;
  font-style: normal;
  font-size: 4vh;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.2;
  margin-top: -.25em;
  display: none;
}

/* Current time and date */
.room__container__current-time {
  font-family: Crestron, sans-serif;
  font-style: normal;
  line-height: .75em;
  font-size: 4vh;
  font-weight: 400;
  float: right;
  margin-right: 5vh;
  margin-top: 2.5vh;
  display: none;
}

/* 'Available' or 'Reserved' label */
.room__container__status__title__label1 {
  font-family: Crestron, sans-serif;
  font-style: normal;
  line-height: .75em;
  font-size: 6vh;
  font-weight: 400;
  margin-top: 4.3333333333vh;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: none;
}

/* 'For next' label */
.room__container__status__title__label2 {
  font-family: Crestron, sans-serif;
  font-style: normal;
  line-height: .75em;
  font-size: 3.3333333333vh;
  font-weight: 400;
  margin-top: 2vh;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: none;
}

/* Color for 'reserved label' and 'countdown number' if reserved */
.room__container--reserved .room__container__status__title__label1,
.room__container--reserved .room__container__status__countdown__hours__number,
.room__container--reserved .room__container__status__countdown__minutes__number {
  color: #ff2c55;
  display: none;
}

.room__container--available {
  background-color: rgba(0, 0, 0, 1);
  display: none !important;
}

.room__container--reserved {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)),
    /* your image */
    url("images/reportex-background.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Background Image added to everywhere*/
.room {
  /*background-image: url("../images/reportex-background.png") !important;
	background-position: center;
	background-size: cover; */
  background-color: #000000;
}

/* Color for 'minutes label' and 'hours label' if reserved */
.room__container--reserved .room__container__status__countdown__hours__time,
.room__container--reserved .room__container__status__countdown__minutes__time {
  color: #ff2c55;
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #ff2c55 0, #f5317b 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #ff2c55 0, #f5317b 100%);
  border-image: linear-gradient(to bottom, #ff2c55 0, #f5317b 100%);
  border-image-slice: 1;
  display: none;
}

/* Color for 'available label' and 'countdown number' if available */
.room__container--available .room__container__status__title__label1,
.room__container--available .room__container__status__countdown__hours__number,
.room__container--available .room__container__status__countdown__minutes__number {
  color: #3cf799;
  display: none;
}

/* Color for 'minutes label' and 'hours label' if available */
.room__container--available .room__container__status__countdown__hours__time,
.room__container--available .room__container__status__countdown__minutes__time {
  color: #3cf799;
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #3cf799 0, #57f171 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #3cf799 0, #57f171 100%);
  border-image: linear-gradient(to bottom, #3cf799 0, #57f171 100%);
  border-image-slice: 1;
  display: none;
}

/* Room countdown number */
.room__container__status__countdown__hours__number,
.room__container__status__countdown__minutes__number {
  font-family: Crestron, sans-serif;
  font-style: normal;
  line-height: .75em;
  font-size: 12vh;
  font-weight: 400;
  margin-top: 7vh;
  text-align: center;
  position: relative;
  display: none;
}

/* Room label under countdown number */
.room__container__status__countdown__hours__time,
.room__container__status__countdown__minutes__time {
  font-family: Crestron, sans-serif;
  font-style: normal;
  line-height: .75em;
  font-size: 12vh;
  font-weight: 400;
  margin-top: 3.3333333333vh;
  min-width: 19vh;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.1666666667vh 2.1666666667vh;
  color: #ffffff;
}

/* A vs B shows here */
/* Room 'Walk up meeting' if reserved */
.room__container__status__details__subject {
  font-family: Calibri;
  font-style: normal;
  line-height: .75em;
  font-size: 12vh;
  font-weight: 700;
  font-variant: small-caps;
  margin: 7vh auto 0;
  width: 133.333333333vh;
  line-height: 1.2;
  padding-top: 2vh;
  text-overflow: clip;
  word-wrap: break-word !important;
  white-space: pre-line !important;
  display: block;
  color: #ffffff;
}

/* Title shows BOARDROOM text here */
/* Room 'Walk up organizer' if reserved */
.room__container__status__details__organizer {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  line-height: .75em;
  font-size: 12vh;
  font-weight: 500;
  padding-top: 10vh;
  color: #ffffff;
  position: relative;
  top: -75vh;
  display: none;
}

/* Room 'Meeting date' if reserved */
.room__container__status__details__date {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  line-height: .75em;
  font-size: 12vh;
  font-weight: 400;
  margin-top: 2vh;
  display: none;
}

/*************** Timeline Start*************************/
/* Background and border color for the timeline events created in the past */
.timeline__content__event__content--finished {
  border-color: rgba(228, 228, 228, .1);
  background-color: rgba(228, 228, 228, .05);
  display: none;
}

/* Background color for the timeline events created in the future */
.bg__main-color-1 {
  background-color: rgba(255, 44, 85, .1);
  display: none;
}

/* Border color for the timeline events created in the future */
.border__main-color-1 {
  border-left-color: #ff2c55;
  display: none;
}

/* Background and border color for the active event from timeline */
.timeline__content__event__content--active,
.timeline__content__event__content--selected {
  border-color: #ff2c55;
  background-color: rgba(255, 44, 85, .8);
  display: none;
}

/* Current time pin color when available */
.bg__main-color-2,
.timeline__content__now::before {
  background-color: #3cf799;
  display: none;
}

/* Current time pin color when reserved */
.timeline__content__now--reserved,
.timeline__content__now--reserved::before {
  background-color: #ff2c55;
  display: none;
}

.timeline {
  display: none;
}

/*************** Timeline End*************************/
/*hides the circle menu icon on the right side */
/**
menu {
  display: none !important;
}

.menu {
  display: none !important;
}

.menu__icon {
  display: none !important;
}

.menu__icon--active {
  display: none !important;
}

.menu--active {
  background-color: rgba(0, 0, 0, 1);
  display: none !important;
}
**/