/* https://reportex-development.github.io/Boardroom-sign/styles/scheduler.css  */


/*************** Screensaver section ****************/
/* Room name */
.screensaver__container__room-details__name {
  text-transform: capitalize;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   line-height: 1.5em;
   width: 133.333333333vh;
}
  /* Color for available label */
  .color__main-color-3 {
  color: #3cf799;
}
  /* Color for reserved label */
  .color__main-color-2 {
  color: #ff2c55;
}

/* Reserved details section */
.screensaver__container__reserved__content {
  font-family: Crestron,sans-serif;
  font-style: normal;
  font-size: 6vh;
  font-weight: 500;
  line-height: 1.2;
}
 /* Available details section */
 .screensaver__container__available__content {
 font-family: Crestron,sans-serif;
  font-style: normal;
  font-size: 6vh;
  font-weight: 500;
  line-height: 1.2;
}
 /* Date screensaver */
 .screensaver__container__current-time__date {
 font-family: Crestron,sans-serif;
  font-style: normal;
  line-height: .75em;
  font-size: 4.3333333333vh;
  font-weight: 400;
}
 /* Time screensaver */
 .screensaver__container__current-time__time {
  margin-top: 3.6666666667vh;
  font-family: Crestron,sans-serif;
  font-style: normal;
  line-height: .75em;
  font-size: 13vh;
  font-weight: 400;
}

/* Logo screensaver */
.screensaver__container__logo__img {
  height: 9vh;
}
  /* Border color screensaver layout when reserved */
  .screensaver__container--reserved {
  border-color: rgba(255,44,85,0.8);
}
  /* Border color screensaver layout when available */
  .screensaver__container--available {
  border-color: #3cf799;
}
  /****************** Horizontal Room section *********************/
  /* Room name */
  .room__container__room-details__name {
   font-family: Crestron,sans-serif;
   font-style: normal;
   font-size: 4vh;
   font-weight: 400;
  text-transform: capitalize;
   line-height: 1.2;
   margin-top: -.25em;
}

/* Current time and date */
.room__container__current-time {
  font-family: Crestron,sans-serif;
  font-style: normal;
  line-height: .75em;
  font-size: 4vh;
  font-weight: 400;
  float: right;
  margin-right: 5vh;
  margin-top: 2.5vh;
}
 /* 'Available' or 'Reserved' label */
 .room__container__status__title__label1 {
 font-family: Crestron,sans-serif;
  font-style: normal;
  line-height: .75em;
  font-size: 6vh;
  font-weight: 400;
  margin-top: 4.3333333333vh;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
}

/* 'For next' label */
.room__container__status__title__label2 {
  font-family: Crestron,sans-serif;
   font-style: normal;
   line-height: .75em;
   font-size: 3.3333333333vh;
   font-weight: 400;
   margin-top: 2vh;
   letter-spacing: 1px;
   text-transform: uppercase;
   display: block;
}
  /* Color for 'reserved label' and 'countdown number' if reserved */
  .room__container--reserved .room__container__status__title__label1,
  .room__container--reserved .room__container__status__countdown__hours__number,
  .room__container--reserved .room__container__status__countdown__minutes__number {
  color: #ff2c55;
}
  /* Color for 'minutes label' and 'hours label' if reserved */
  .room__container--reserved .room__container__status__countdown__hours__time,
  .room__container--reserved .room__container__status__countdown__minutes__time {
   color: #ff2c55;
   border: 1px solid transparent;
   -moz-border-image: -moz-linear-gradient(top,#ff2c55 0,#f5317b 100%);
   -webkit-border-image: -webkit-linear-gradient(top,#ff2c55 0,#f5317b 100%);
   border-image: linear-gradient(to bottom,#ff2c55 0,#f5317b 100%);
   border-image-slice: 1;
}

/* Color for 'available label' and 'countdown number' if available */
.room__container--available .room__container__status__title__label1,
.room__container--available .room__container__status__countdown__hours__number,
.room__container--available .room__container__status__countdown__minutes__number {
color: #3cf799;
}
/* Color for 'minutes label' and 'hours label' if available */
.room__container--available .room__container__status__countdown__hours__time,
.room__container--available .room__container__status__countdown__minutes__time {
 color: #3cf799;
 border: 1px solid transparent;
 -moz-border-image: -moz-linear-gradient(top,#3cf799 0,#57f171 100%);
 -webkit-border-image: -webkit-linear-gradient(top,#3cf799 0,#57f171 100%);
 border-image: linear-gradient(to bottom,#3cf799 0,#57f171 100%);
 border-image-slice: 1;
}
/* Room countdown number */
.room__container__status__countdown__hours__number,
.room__container__status__countdown__minutes__number {
font-family: Crestron,sans-serif;
 font-style: normal;
 line-height: .75em;
 font-size: 19.6666666667vh;
 font-weight: 400;
 margin-top: 7vh;
 text-align: center;
 position: relative;
}

/* Room label under countdown number */
.room__container__status__countdown__hours__time ,
.room__container__status__countdown__minutes__time {
 font-family: Crestron,sans-serif;
 font-style: normal;
 line-height: .75em;
 font-size: 3.3333333333vh;
 font-weight: 400;
 margin-top: 3.3333333333vh;
 min-width: 19vh;
 text-transform: uppercase;
 letter-spacing: 1px;
 padding: 1.1666666667vh 2.1666666667vh;
}
/* Room 'Walk up meeting' if reserved */
.room__container__status__details__subject {
font-family: Crestron,sans-serif;
 font-style: normal;
 line-height: .75em;
 font-size: 6vh;
 font-weight: 400;
 margin: 7vh auto 0;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
 width: 133.333333333vh;
 line-height: 1.2;
}

/* Room 'Walk up organizer' if reserved */
.room__container__status__details__organizer {
  font-family: Crestron,sans-serif;
   font-style: normal;
   line-height: .75em;
   font-size: 4vh;
   font-weight: 400;
   margin-top: 3vh;
}
  /* Room 'Meeting date' if reserved */
  .room__container__status__details__date {
  font-family: Crestron,sans-serif;
   font-style: normal;
   line-height: .75em;
   font-size: 4vh;
   font-weight: 400;
   margin-top: 2vh;
}
  /*************** Timeline *************************/
  /* Background and border color for the timeline events created in the past */
  .timeline__content__event__content--finished {
  border-color: rgba(228,228,228,.1);
   background-color: rgba(228,228,228,.05);
}
  /* Background color for the timeline events created in the future */
  .bg__main-color-1 {
  background-color: rgba(255,44,85,.1);
}

/* Border color for the timeline events created in the future */
.border__main-color-1 {
  border-left-color: #ff2c55;
}
 /* Background and border color for the active event from timeline */
 .timeline__content__event__content--active,
 .timeline__content__event__content--selected {
 border-color: #ff2c55;
  background-color: rgba(255,44,85,.8);
}
 /* Current time pin color when available */
 .bg__main-color-2,
 .timeline__content__now::before {
 background-color: #3cf799;
}
 /* Current time pin color when reserved */
 .timeline__content__now--reserved,
 .timeline__content__now--reserved::before {
 background-color: #ff2c55;
}